h1{
    color: #FF5A09;
}
button{
    font-size: 20px;
}
.links-to-me{
    font-size: 20px;
}
a{
    text-decoration: none;
}
#timeOutput{
    -webkit-transition: opacity .5s ease-out;
    transition: opacity .5s ease-out;
    opacity: 0; 
    height: 0;
    font-size: 20px;
    color: grey;
}
#messageBar{
    -webkit-transition: opacity .5s ease-out;
    transition: opacity .5s ease-out;
    opacity: 0; 
    height: 0;
    font-size: 25px;
}
#puzzleBoard{
    position: relative;
    border-color: #FF5A09; /*Dark orange*/
    border-style: solid;
    border-width: 5px;
    
    margin: auto;
    margin-bottom: 30px;
    width: 300px;
    height: 300px;
}
#prevBtn{
    -webkit-transition: opacity .5s ease-out;
    transition: opacity .5s ease-out;
    opacity: 0; 
    height: 0;
    overflow: hidden;
}
#playBtn{
    -webkit-transition: opacity .5s ease-out;
    transition: opacity .5s ease-out;
    opacity: 0; 
    height: 0;
    overflow: hidden;
}
#nextBtn{
    -webkit-transition: opacity .5s ease-out;
    transition: opacity .5s ease-out;
    opacity: 0; 
    height: 0;
    overflow: hidden;
}

.tile{
    border-color: black;
    border-style: solid;
    border-width: 2px;

    /*Makes it way easier to calculate width+height of tiles*/
    box-sizing: border-box;
    
    width: 100px;
    height: 100px;
    
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    /*For sliding animations*/
    -webkit-transition: opacity .5s ease-out;
    transition: 0.5s;

    /*Each tile has pre-determined place on the board*/
    position: absolute;

    /*Centering font*/
    display: flex;
    align-items: center;
    justify-content: center;

}

#tile0{
    border: none;
    opacity: 0;
}
/*
Classes for each position on board, these will be added and removed as
tiles are moved around.
And since the tile class has transition animations it will look like the 
blocks are sliding into place
*/

.pos0{
    top: 0px;
    left: 0px;
}
.pos1{
    top: 0px;
    left: 100px;
}

.pos2{
    top: 0px;
    left: 200px;
}
.pos3{
    top: 100px;
    left: 0px;
}
.pos4{
    top: 100px;
    left: 100px;
}
.pos5{
    top: 100px;
    left: 200px;
}
.pos6{
    top: 200px;
    left: 0px;
}
.pos7{
    top: 200px;
    left: 100px;
}
.pos8{
    top: 200px;
    left: 200px;
}